@charset "utf-8";
/* CSS Document */
*{margin:0 0; font-family:"microsoft yahei";}
.head{width:1366px;background-color:#3B4B79;height:50px;line-height:50px;}
.head  p{color:white;font-weight:bold;font-size:24px;margin-left:20px;}
.head  #school{color:#08AAC1;font-weight:bold;}
.middle {width:1366px;height:540px;background-image:url(../images/index/xidian.jpg);background-repeat:no-repeat;}

.login{width:480px;height:320px;background-color:white;border-bottom:1px solid white;border-radius:25px;margin:0 auto;
	   position:absolute;top:25%;left:30%;}
.log1{background-color:#54ABD1;border-top:1px solid #54ABD1;border-top-right-radius:25px;
		border-top-left-radius:25px;height:36px;line-height:36px;margin: 0 auto;}
.log1 p{color:white;font-size:22px;font-weight:bolder;text-align:left;margin-left:20px;}

.input p{color:black;font-size:20px;margin-left:60px;}
.button1{background-color:#57AF58;width:80px;height:37px;line-height:37px;
		text-align:center;border:1px solid #57AF58;border-radius:10px;
		float:left;margin-left:150px;margin-top:15px;}
.button1 a{color:white;text-decoration:none;}
.button2{background-color:#57AF58;width:80px;height:37px;line-height:37px;
		float:right;text-align:center;border:1px solid #57AF58;border-radius:10px;
		margin-top:15px;margin-right:100px;}
.button2 a{color:white;text-decoration:none;}
.footer {width:1366px;font-size:12px;text-align:center;background-color:#3B4B79;}
.footer p{color:white;}
.footer a{text-decoration:none;color:white;}