<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> 管理界面底部 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Jiangting@WiiPu -- http://www.wiipu.com" />
    <link rel="stylesheet" href="__PUBLIC__/css/style2.css" type="text/css"/>
 </head>
 <body>
    
    <div class="footer">Designed & Developed By <a href="#" target="_blank">402工作室</a></div>

    </body>
</html>