
一、web应用功能
   （一）登陆与注册
   （二）个人管理
   （三）网上选课
   （四）教学评估
   （五）考务管理
   （六）综合查询
   （七）考试报名
   （八）紧急通知栏


二、web应用运行的软、硬件环境
   （一）软件环境
	客户端：
	(1)操作系统：Windows2000/XP/2003/Vista/win7
	(2)网络协议：TCP/IP协议
	(3)浏览器：Internet Explorer 6.0以上版本
	服务器端：
	(1)操作系统：Windows Server 2003 Enterprise Edition
	(2)网络协议：TCP/IP协议
	(3)WEB服务器：Internet Information Server 6.0
	(4)数据库：Microsoft SQL Sever 2005 Developer Edition
   （二）硬件环境
	(1)服务器 CPU:Pentium 双核 以上 ,内存:1G以上
	(2)客户机 CPU:P4 以上，内存：256M以上


三、web应用性能要求
	1、并发性：因为是在线系统，所以必须要求具有并发性，并发数量设定为1000
	2、时间特性：响应时间不能超过1s
	3、兼容性：能够在IE 7/8/9上运行
	4、网络环境：最低要求，能在有上网环境的情况下运行即可
	5、系统运行时间：7*24h不间断运行


四、web应用维护的要求
	Web应用程序的安全层次可分为操作系统级、Web服务器级、数据库级以及Web应用程序级。以下是对本系统维护的重要方面和内容。
	1、维护ASP应用程序的安全
	（1）为单独的文件和目录应用NTFS访问ASP应用程序文件。
	（2）在应用程序的Global.asa文件上为适当的用户或用户组设置NTFS文件权限。
	2、Web服务器权限
	配置WEb服务器的权限来限制所有用户查看、运行和操作ASP页的方式。
	3、Cookie安全性
	（1）通过对Web服务器和用户的浏览器间的通讯链路加密防止SessionID Cookie被截获。
	（2）使用身份验证机制保护被限制的ASP内容。
	4.保护元数据库
	5.使用SSL维护应用程序的安全。
五、web应用空间的租赁要求

六、主页面及次页面的大概数量

七、管理及内容录入任务分配

八、各种页面特殊效果及其数量


九、项目交付时间及进度安排表
	2015年5月22日~2015年5月30日：需求分析、概要设计、详细设计
	2015年5月31日~2015年6月20日：编码，实现学生和教师的功能
	2015年6月21日~2015年6月30日：页面部分设计和编码
	2015年7月1日~2015年7月10日：测试
	2015年7月10日~2015年7月13日：交付与提交


十、明确项目完成后的维护责任